#!/bin/bash
DEFAULT_DATABASE=/var/dbase/tess.db
DATABASE=${1:-$DEFAULT_DATABASE}
for file in $(ls -1 | sort | grep "stars*")
do
	echo "sqlite3 $DATABASE < $file" | ts '[%Y-%m-%d %H:%M:%S]'
	sqlite3 $DATABASE < $file
	sleep 2
done
